@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$fontFamily: inter, sans-serif;

$red: #FF5959;
$lightBlack: #343434;
$green: #52DF68;
$black: #292626;
$white: #FFFFFF;
$lightGray: #969696;
$rowColor: #4E4D4D;